<ion-header>
  <ion-navbar>
    <ion-title>
      Realiza foto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
    <ion-item>
      Sonríe
      <button ion-button secondary (click)="foto()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      Mostrar foto
      <button ion-button secondary (click)="mostrarFoto()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>

  <img *ngIf="base64Image" src='{{base64Image}}'>
  <img *ngIf="muestraFoto" src='{{base64Image}}'>

  <ion-item text-center>
      Mapa
    <button ion-button (click)="localizar()" [ngStyle]="{'display': 'block', 'margin': 'auto'}">
    <ion-icon name="map" ></ion-icon>
    </button>
  </ion-item>
  <div id="map_canvas"></div>
</ion-content>
